<ng-container *ngIf="albums$ | async as albums; else loading">
  <div
    *ngIf="albums.length > 0; else noResult"
    class="d-flex flex-wrap justify-content-center"
  >
    <div class="card m-1" *ngFor="let album of albums">
      <img
        [src]="album.images[1].url"
        class="card-img-top"
        [alt]="album.name"
      />
      <div
        class="card-body d-flex flex-column justify-content-between text-center"
      >
        <h6 class="card-title">{{ album.name }}</h6>
        <a [routerLink]="['/album-details', album.id]" class="btn btn-primary"
          >Album Details</a
        >
      </div>
    </div>
  </div>
</ng-container>

<ng-template #noResult>
  <div class="text-center">No albums found</div>
</ng-template>
<ng-template #loading>
  <div class="text-center">Loading</div>
</ng-template>
