<ng-container *ngIf="details$ | async as details; else loading">
  <div
    class="border flex-nowrap flex-column flex-sm-row mb-4 no-gutters rounded row shadow-sm"
  >
    <div
      class="align-items-center col d-flex flex-column justify-content-center p-4"
    >
      <strong class="d-inline-block mb-2 text-success">{{
        details.artists[0].name
      }}</strong>
      <h3 class="mb-0">{{ details.name }}</h3>
      <div class="mb-1 text-muted">
        {{ details.release_date | date: "mediumDate" }}
      </div>
    </div>
    <div>
      <img
        [src]="details.images[1].url"
        class="card-img-top"
        [alt]="details.name"
      />
    </div>
  </div>

  <ul class="list-group">
    <li class="list-group-item" *ngFor="let track of details.tracks.items">
      <app-track [track]="track"></app-track>
    </li>
  </ul>
</ng-container>

<ng-template #loading>
  <div class="text-center">Loading</div>
</ng-template>
