<div
  id="history"
  *ngIf="histories$ | async as histories"
  [ngClass]="{ open: open }"
>
  <div class="card" *ngIf="histories.length">
    <div
      class="card-header d-flex justify-content-between align-items-center"
      (click)="toggleWidget()"
    >
      <span>Search History</span> <span class="mininize"></span>
    </div>
    <div class="card-body">
      <ul class="list-group list-group-flush">
        <li
          class="list-group-item py-1 px-1"
          *ngFor="let history of histories"
          (click)="navigateAlbums(history)"
        >
          <a href="javascript:void" class="">{{ history.name }}</a>
        </li>
      </ul>
    </div>
  </div>
</div>
